@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="logon">
        <div class="row">
            <label class="whitetext">Email ID:</label>
            <input id="emailID" type="text" required maxlength="7" />
        </div>
        <div class="row">
            <label class="whitetext">First name:</label>
            <input id="fn" type="text" required maxlength="30"/>
        </div>
        <div class="row">
            <label class="whitetext">Last name:</label>
            <input id="ln" type="text" required maxlength="30" />
        </div>
        
        <div class="row">
            <label class="whitetext">Create a password:</label>
            <input id="newpw" type="password" required value="" maxlength="30" />
            <h6 style="max-width: 300px;" class="whitetext">Passwords should be at least 8 characters long and contain letters and numbers.</h6>

        </div>
        
        <div class="row">
            <button id="registerbtn" style="width: 200px; margin-left: 10px;">Register</button>
        </div>
        
    </div>
</div>

<script>

    $("#registerbtn").click(function () {
        var emID = $("#emailID").val();
        var fn = $("#fn").val();
        var ln = $("#ln").val();
        var pw = $("#newpw").val();

        var validEmail = alphanumeric(emID);
        var validFN = lettersonly(fn);
        var validLN = lettersonly(ln);
        var validPW = alphanumeric(pw);
        if (!validEmail || emID.length < 4) {
            alert('Invalid Email');
        }
        else if (!validFN || fn.length < 1) {
            alert("Please enter a first name");
        }
        else if (!validLN || ln.length < 1) {
            alert("Please enter a last name");
        }
        else if (!validPW) {
            alert("Please enter a valid password");
        }
        else if (pw.length < 8) {
            alert("Password must be at least 8 characters long.");
        }

        else if (emID != "" && fn != "" && ln != "" && pw != "") {

            $.ajax({
                url: "Register",
                type: 'Post',
                async: false,
                data: {
                    email: emID,
                    fn: fn,
                    ln: ln,
                    password: pw
                },
                success: function () {
                    location.href = 'Index';
                }
            });

        }
        else {
            alert("Invalid entry! Please try again");
        }
    })

    function lettersonly(inputtxt) {
        var letters = /^[a-zA-Z]+$/;
        if (letters.test(inputtxt)) {
            return true;
        } else {
            return false;
        }
    }

    function alphanumeric(inputtxt) {
        var letters = /^[0-9a-zA-Z]+$/;
        if (letters.test(inputtxt)) {

            return true;
        } else {

            return false;
        }
    }


</script>